@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body,html{
	background-color:#2d2d2d;
	font-family: 'Poiret One', cursive;
	color:#000;

}

#painel{
	margin-right: 0;
	margin-left: 0;
	
}
.menu{
	width: 30px;
	height: 30px; 
	padding:0 !important;
	
}

.menu > i{
	font-size: 20px !important;
	line-height: inherit !important;
	text-align: center;
}


.col-md-9,.col-md-3{
	border-left:2px solid #151515;
	height:600px;

	max-height:1000px;
	overflow-x: hidden;
	overflow-y: auto;
}
.row{
	background-color:#000;
	font-family: 'Poiret One', cursive;
	color:white;
}
footer{
	background-color:#000;
	color:white;
}
#grupo{
  border:2px solid #000;
  
  background-color:#2d2d2d;
}
#Tela{
	top: 10%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

h1{
	text-align: left;
}
#Tela > button,i {
	margin:auto;
	margin-top: 3%;
	
	
}#Tela > button {
	width:30%;

}
#Tela > span {
	font-size:small;

}

.maquina .material-icons {
	font-size:600%;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.maquina a{
	width: 30%;
}
.info {
	color:#82FA58;
	background-color:#000;
}
.info circle{
	display:none;
	
}



#Letreiro2{
	float:left;
}

#btnDelete{
	background-color: transparent;
	border:none;
	position: absolute;
	right: 5%;
	top: 30%
}

svg {
	margin:auto;
}
svg > g > text[text-anchor~=middle]{
	fill:white;
	font-family: 'Poiret One', cursive;
	font-size:1.5em;
}

svg > g > text[text-anchor~=end],text[text-anchor~=start]{
	fill:white;
	font-family: 'Poiret One', cursive;
}

.alert{
	position: absolute !important;
	left: 0 !important;
	bottom: 0;
	width:30%;
}

.offline{
	background:#e2e2e2;
}

.online{
	background:#109618;
} 


input{
	font-weight: bold;
}

#chart_info{
	display: none;
}
